
@{
    ViewBag.Title = "Confirmation";
}

<div class="container-fluid">
    <div style="margin: 100px; color: rgb(255,204,51);padding:100px ;background-color: rgba(0,0,0,0.8);background-size: 80% 70%">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="/Images/thum.png" width="250" height="250" />
            </div>
             <div class="col-sm-6">
                    <h1>
                        Thanks for Your Registration :D...... <br> 
                         Your Account Will be Activated with in <span style="color:rgb(24,188,156)">48 Hours</span> After Verifying Your Info
                    </h1>
             </div>
        </div>  
    </div>
</div>


